name : CI

on:
  push:
    branches: main
  pull_request:
    branches: main

env:
  NB_KERNEL: python3
  MPLBACKEND: Agg

jobs:

  run-tests:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: pip install pytest -r requirements.txt

      - name: Execute tests
        run: pytest
